div.follow-area button.btn-follow {
  padding: 5px;
  background-color: aquamarine;
}

div.follow-area div.follow-modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

div.follow-area div.follow-modal div.modal-window {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 350px;
  height: 150px;
  border: 2px solid #333333;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.follow-area div.follow-modal div.modal-window div.box-modal-item p.modal-message {
  text-align: center;
}

div.follow-area div.follow-modal div.modal-window div.box-modal-item div.box-modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.like-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.like-area div.like-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  margin: 5px 20px;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}

div.like-area div.like-tag div.item-like {
  display: block;
  padding: 10px 5px;
}

div.like-area div.like-tag div.item-like.item-like-a {
  width: 20%;
  background: #ffffff;
  border-radius: 5px 0 0 5px;
}

div.like-area div.like-tag div.item-like.item-like-b {
  width: 25%;
  background: #ffffff;
  border-right: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
}

div.like-area div.like-tag div.item-like.item-like-c {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: #ffffff;
  border-radius: 0 5px 5px 0;
}
