@charset "utf-8";

// 1200px以下
@media screen and (max-width: 1200px){
    div#responsiveWrapper{
        width: 90%;

        main{
            width: 100%;
            box-sizing: border-box;
        }
    }
    // プロフィール
    div#profile{
        div.center{width: 90%;}
    }

    // メニュー、見出し
    nav#tab,
    div.favoriteHeader{
        div.center{
            width: 90%;

            div.right{
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    div.followerModal{
        div.modalHeading{width: 90%;}
        div.modalContents{width: 90%;}
        div.inviteBtn{width: 90%;}
    }
}

// 1000px以下
@media screen and (max-width: 1001px) {
    div#responsiveWrapper{main{div.tabOpen{display: block;}}}
    div#favorites{div.catalog{div.favorite{width: 100%;}}}
    div.twoColumn{div.column{width: 100%;}}
    div.heading{span.slideBtn{display: block;}}
}

// 700px以下
@media screen and (max-width: 700px){
    
    div.left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    div.right{
        width: 100%;
        padding: 0;
    }
    #index{div.center{div.left{justify-content: left;}}}


    diV#profile{
        position: static;
        padding-top: 70px;

        div.profile{
            display: flex;
            align-items: center;
            width: 80%;

            h2,p{
                margin: 0;
                padding: 0;
                margin-left: 15px;;
            }
        }

        img{
            max-width: 100px;
            width: 25%;
            max-height: 100px;
            height: 25%;
            margin: 0;
            padding: 0;
        }

        a{
            margin-left: 10px;
            img{margin: 0;}
        }
    }

    nav#tab,
    div.favoriteHeader{
        position: sticky;
        position: -webkit-sticky;
    }

    div#responsiveWrapper{
        margin-top: 0;

        main{
            width: 100%;
            padding: 0;
        }
    }

    #groupSetting,
    #makeGroup{
        div#responsiveWrapper{
            margin-top: 110px;
            main{div.profileSetting{flex-direction: column;}}
        }
    }
}

// 400px以下
@media screen and (max-width: 400px){
    nav#tab{
        ul{
            li{
                span{display: none;}
                img{display: block}
            }
        }
    }
}