@charset "utf-8";

$mainColor : #58bff6;
$mainColor2: rgb(59, 196, 121);
$backgroundColor : rgb(253, 246, 152);

// フォーム
input,
select,
button.form-style{
    transition: all .2s ease;
}

$formTextColor: #444;
$buttonTextColor: #fff;
$borderColor: #ccc;
$partsBackgroundColor: #fff;

// 入力フォーム プルダウンセレクタ
p.form-style{
    color: $formTextColor;
    display: block;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 22px 5%;
    line-height: 0;
    border-bottom:1px solid $borderColor;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family:'HelveticaNeue','Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
}

input.form-style,
select{
    color: $formTextColor;
    display: block;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 5px 5%;
    border:1px solid $borderColor;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: $partsBackgroundColor;
    font-family:'HelveticaNeue','Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;

    &:focus{
        outline: none;
        border:1px solid $mainColor;
        color: $mainColor;
    }
}
select{
    appearance: none;
    background-image: url(../images/arrow-bottom.png);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    cursor: pointer;
}
p.formLabel{
    position: absolute;
    left:26px;
    top:2px;
    transition:all .4s ease;
    color:#bbb;
}
p.formTop{
    top:-22px;
    background-color: $backgroundColor;
    padding:0 5px;
    font-size: 14px;
    color: $mainColor;
}

//ボタン
input[type="submit"],
button.form-style{
    width: 112px;
    height: 37px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: $mainColor;
    border:1px solid $mainColor;
    border:none;
    color: $buttonTextColor;
    font-weight: bold;

    &:hover{
        background-color:$partsBackgroundColor;
        border:1px solid $mainColor;
        color:$mainColor;
        cursor:pointer;
    }

    &:focus{outline: none;}

}

// チェックボックス
input[type='checkbox']{
    display:none;
}
input[type='checkbox'] + label{
    z-index:15;
    position:absolute;
    left:0px;
    top:-1px;
    bottom:10px;
    right:10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor:pointer;
    width:10px;
    border: 2px solid #444;
    height:10px;
}
.tag {
    margin-left:20px;
    line-height: 1.0rem;
}
input[type='checkbox']:checked + label{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display:inline-block;
    width:10px;
    height:10px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color: $mainColor2;
    border-left-color:transparent;
    transform:rotate(-50deg) translate(1px,-4px);
}

input[type='checkbox']:checked + label:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 7px;
    width: 100%;
    border-left:2px solid $mainColor2;
}
